body {
    background-color: #F9F0FE;
    color: #d8bae4;
    font-size: 12pt;
    margin-top: 30pt;
    margin-bottom: 30pt;
    margin-right: 30pt;
    margin-left: 30pt;

}

h1 {color: rgb(185, 48, 185);
    font-family: 'Serif';
    font-size: 30pt;
    font-weight: bold
}
h2 {color : rgb(144, 79, 144);
    font-family: 'sans-serif';
    font-size: 20pt 
}
h3 {color: rgb(217, 174, 217);
    font-family: 'Gill Sans';
    font-size: 10pt
}