body {
    background-color: #F9F0FE;
    color: #68426b;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 30pt;
}

h1 {
    color: #AC2581;
    font-family: 'Serif';
    font-size: 30pt;
    font-weight: bold;
}

h2 {
    color: #EB048B;
    font-family: 'sans-serif';
    font-size: 20pt;
    font-style: italic;
}

h3 {
    color: #CD569D;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15pt;
    font-style: italic;
}

p {
    color: #38052A;
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

a:active {
    background: #FFCC00;
    text-decoration: none;
}

a:hover {
    background: #FFCC00;
    font-weight: bold;
    color: red;
}

a:link {
    background: #FFCC00;
    text-decoration: none;
}

a:visited {
    background: #FFCC00;
    text-decoration: none;
}

table {
    display: table;
    width: 100%;
    border-collapse: seperate;
}

table.row {
    display: table-row;
}

table.row div {
    display: table-cell;
    border: 1px solid #000;
    padding: 5px;
}