body {
    background-color: #F9F0FE;
    color: #a870be;
    font-size: 12pt;
    margin-top: 30pt;
    margin-bottom: 30pt;
    margin-right: 30pt;
    margin-left: 30pt;

}

h1 {color: rgb(172, 37, 129);
    font-family: 'Serif';
    font-size: 30pt;
    font-weight: bold
}
h2 {color : rgb(235, 4, 139);
    font-family: 'sans-serif';
    font-size: 20pt;
    font-style: italic
}
h3 {color: rgb(205, 86, 157);
    font-family: 'Gill Sans';
    font-size: 10pt;
    font-style: italic
}